.row{
   width: auto;
   height: auto;
   display: flex;
   align-items: center;
   margin-top: 40px;

 h3{
   color: rgb(57, 28, 8);
  
 }
 h1{
   font-weight: bold;
   color: rgb(48, 45, 45);
 }

 .input-group{
  width: 100%;
  height: 50px;
  
   #giris{
      width: 40%;
     height: auto;

   }
   #enter{
   width: 30%;
   background-color: brown;
      height: auto;

      &:hover{
        background-color: blue;
        opacity: 1;
       }
      
   }

   
 }
   #sekilimiz{

    img{
      width: 60%;
    }
   }
 
 

}
